{# Copied markup from Advanced Embed Code on brightcove.com  #}
<div style="display: block; position: relative; max-width: 100%;">
  <div style="padding-top: 56.25%;">
    {# @TODO Fix hardcoded height / width for responsive players #}
    <video
      data-video-id="{{ data_video_id }}"
      data-playlist-id="{{ data_playlist_id }}"
      data-account="{{ data_account }}"
      data-player="{{ data_player }}"
      data-embed="{{ data_embed }}"
      width="100%"
      height="100%"
      id="{{ data_player }}"
      class="video-js"
      controls
      style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;"></video>
  </div>
</div>
<ol class="vjs-playlist"></ol>
<script src="//players.brightcove.net/{{ data_account }}/{{ data_player }}_{{ data_embed }}/index.min.js"></script>