{#
/**
 * @file bct_temporary_array.html.twig
 * Default theme implementation to present BCT Temporary Array data.
 *
 * This template is used when viewing BCT Temporary Array pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bct_temporary_array()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bct_temporary_array') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
