{#
/**
 * @file bct_bucket.html.twig
 * Default theme implementation to present BCT Bucket data.
 *
 * This template is used when viewing BCT Bucket pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bct_bucket()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bct_bucket') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
