{#
/**
 * @file bct_metadata.html.twig
 * Default theme implementation to present BCT Metadata data.
 *
 * This template is used when viewing BCT Metadata pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bct_metadata()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bct_metadata') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
