{#
/**
 * @file bct_reference.html.twig
 * Default theme implementation to present BCT Reference data.
 *
 * This template is used when viewing BCT Reference pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bct_reference()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bct_reference') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
