{#
/**
 * @file user_action_item_entity.html.twig
 * Default theme implementation to present User action item entity data.
 *
 * This template is used when viewing User action item entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_action_item_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_action_item_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
